<h3>Rutas y lazyLoad</h3>
<ul>
    <li>
        <a routerLink="/auth/login">Auth</a>
    </li>
    <li>
        <a routerLink="/auth/registro">Registro</a>
    </li>
    <li>
        <a routerLink="/auth/forgot">Forgot</a>
    </li>
</ul>

<br>
<ul>
    <li>
        <a routerLink="/productos/agregar">Agregar</a>
    </li>
    <li>
        <a routerLink="/productos/editar">Editar</a>
    </li>
    <li>
        <a routerLink="/productos/listado">Listado</a>
    </li>
    <li>
        <a routerLink="/productos/producto">Producto</a>
    </li>
</ul>

<br>
<ul>
    <li>
        <a routerLink="/usuarios/agregar">Agregar</a>
    </li>
    <li>
        <a routerLink="/usuarios/editar">Editar</a>
    </li>
    <li>
        <a routerLink="/usuarios/listado">Listado</a>
    </li>
    <li>
        <a routerLink="/usuarios/producto">Producto</a>
    </li>
</ul>

<router-outlet></router-outlet>